/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.book-spec{display: flex;
  align-items: center;
  justify-content: space-between;
    margin-top: 0;

}

.book-container{width: 350px;   
}

.book-poster{width: 350px;
height: 500px;
object-fit: cover;}

.book-name {font-size: 24px;

}

.book-summary{  margin-top: 0;}

.book-rating{font-size:20px ;}

.book-list{display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
gap: 20px;
margin: 24px;
}

.like-dislike-button{display: flex;}

.addBookForm{display: flex;
flex-direction: column;
gap: 10px;
margin: 24px;}

/* .Book-trailer{} */

iframe{height: 449px;
width:799px;}


.book-spec-info{display: flex;
  align-items: center;
  justify-content: space-between;
    margin-top: 0;
    width: 799px;

}

.Info-Book-summary{width: 799px;}



.bg_image{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    width: 100%;
    background-position: center;
    background-repeat:no-repeat;
    position: relative;
 
}

.content_box_404{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%)
};

.add_color{margin-top: 14px;
background-color: blue;}